{% extends "base/base.html"%}

<div>{% block title %} Carga de distribuidores {% endblock %}</div>

<div>{% block rute %} "/products/products/" {% endblock %}</div>

<div>
  {% block dynamic_content %}
  <h1 class="row justify-content-center">CARGUE AQUÍ EL DISTRIBUIDOR</h1>
  <div class="row justify-content-center">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <table>
        {{form.as_table}}
      </table>
      <p><input type="submit" class="btn btn-info m-1" value="Enviar" /></p>
    </form>
  </div>
  {% endblock %}
</div>
