{% extends "base/base.html"%}

<div>{% block title %} Edite profile {% endblock %}</div>

<div>
  {% block dynamic_content %}
  <div class="row justify-content-center m-1">
    <div>
      <h1>¡Buenas {{user}} ! Tus datos actuales son:</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <form action="" method="POST">
      {% csrf_token %}

      <div class="card" style="width: 30rem; margin: 10px">
        <div class="card-body">
          <h5 class="card-title">Usuario: {{user}}</h5>
          <h5 class="card-text">Nombre: {{user.first_name}}</h5>
          <h5 class="card-text">Apellido: {{user.last_name}}</h5>
          <p class="card-text">Email: {{user.email}}</p>
        </div>
      </div>

      <h3>{{user}} ¿Querés modificar tus datos?</h3>

      <table>
        {{ user_form.as_table }}
      </table>

      <div class="row justify-content-center">
        <a
          href="http://127.0.0.1:8000/"
          style="height: 2.5rem; width: 8rem; margin: 10px"
          class="btn btn-secondary m-1"
          >Volver al inicio</a
        >
        <p>
          <input
            type="submit"
            style="height: 2.5rem"
            class="btn btn-info m-1"
            value="Guardar"
          />
        </p>
      </div>
    </form>
  </div>

  {% endblock %}
</div>
