{% extends "base/base.html"%}

<div>{% block title %} Detalle de productos {% endblock %}</div>

<div>
  {% block dynamic_content %}
  <h1 class="row justify-content-center">Detalle de producto</h1>

  <div class="text-center mt-2 md-2 ml-5 mr-5 text-secondary">
    <div>
      <h5>Nombre del producto: {{products.name}}</h5>
      <p>Cargado el dia: {{products.creation_date}}</p>
      <a href="/products/products/" class="btn btn-secondary">Volver</a>
    </div>
  </div>

  {% endblock %}
</div>
