{% extends "base/base.html" %}

<div>{% block title %} Index {% endblock %}</div>

<div>
  {% block dynamic_content %}

  <div>
    {% if request.user.is_authenticated %}
    <h1 class="text-center text-md-start mt-5">
      ¡Bienvenido {{ request.user}}!
    </h1>
    {% else %}
    <h1 class="text-center text-md-start mt-5">
      ¡Bienvenido! ¡Te invito a iniciar sesión!
    </h1>
    {% endif %}
  </div>

  <h1 class="text-center text-md-start mt-5">
    Vos soñás, nosotros lo hacemos.
  </h1>

  <h2 class="text-center mt-5 md-5 text-secondary">
    Conocé nuestros
    <a class="text-reset fw-bold" href="/products/products/">productos</a>
  </h2>
  <p class="text-center mt-1 md-1 text-secondary">
    Comercializamos productos se caracterizados por su calidad.
  </p>

  <h2 class="text-center mt-5 md-5 text-secondary">
    Conocé nuestros
    <a class="text-reset fw-bold" href="/products/distributor/"
      >distribuidores</a
    >
  </h2>
  <p class="text-center mt-1 md-1 text-secondary">
    Nuestros distribuidores operan bajo las mejores normas de seguridad.
  </p>

  <h2 class="text-center mt-5 md-5 text-secondary">
    Conocé nuestros
    <a class="text-reset fw-bold" href="/products/shop/">comercios</a>
  </h2>
  <p class="text-center mt-1 md-1 text-secondary">
    Nuestras cadenas de comercios contienen las mejores criticas y son
    recomendadas por la totalidad de los usuarios.
  </p>

  {% endblock %}
</div>
