{% extends "base/base.html"%}

<div>{% block title %} Comercios {% endblock %}</div>

<div>{% block rute %} "/products/products/" {% endblock %}</div>

{% block dynamic_content %}
<div class="row justify-content-center">
  {% for shop in shop %}

  <div class="card" style="width: 18rem; margin: 10px">
    <img
      src="https://nbd.com.mx/images/Diseno-Locales-Comerciales.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Nombre: {{shop.name}}</h5>
      <p class="card-text">Locacion: {{shop.location}}</p>
      <p class="card-text">Email: {{shop.email}}</p>
      {% if request.user.is_superuser %}
      <a href="../update-shop/{{shop.pk}}" class="btn btn-info m-1">Editar</a>
      <a href="../delete-shop/{{shop.pk}}" class="btn btn-danger m-1">Borrar</a>
      <a href="../details-shop/{{shop.pk}}" class="btn btn-secondary m-1"
        >Detalle</a
      >
      {% else %}
      <a href="../details-shop/{{shop.pk}}" class="btn btn-secondary m-1"
        >Detalle</a
      >
      {% endif %}
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}
